<% @schools.each do |school| %>
  <div class="row">
    <div class="col-md-2 text-center homepage-school-name">
      <h2><%= school.proper_name == 'University of Pennsylvania' ? 'Penn' : school.proper_name %></h2>
    </div>
    <div class="col-md-8">
      <div class="progress progress-striped active">
        <%= tag("div", class: "progress-bar #{school.name}", role: "progressbar", aria_valuenow: school.signups, aria_valuemin: 0, aria_valuemax: School::UNLOCK_THRESHOLD, style: "width: #{school.percent_signed_up}%") %>
          <div class="signup-progress">
            <%= "#{school.signups} / #{@unlock_threshold} required signups" %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <%= tag("a", href: countdown_path("#{school.name}"), class: "unlock-link") %>
        <%= tag("button", class: "go-btn btn btn-xlg btn-block #{school.name}")%><i class='fa fa-lock'></i>
          Unlock
        </button>
      </a>
    </div>
  </div>
<% end %>
