<div class="row">
  <div class="col-xs-12 text-center">
    <h1>Pick your school!</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <%= link_to (image_tag "princeton.png", class: "school-logo"), "/" %>
  </div>
  <div class="col-md-3">
    <%= link_to (image_tag "harvard.png", class: "school-logo"), "/" %>
  </div>
  <div class="col-md-3">
    <%= link_to (image_tag "yale.png", class: "school-logo"), "/" %>
  </div>
  <div class="col-md-3">
    <%= link_to (image_tag "columbia.png", class: "school-logo"), "/" %>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <%= link_to (image_tag "upenn.png", class: "school-logo"), "/" %>
  </div>
  <div class="col-md-3">
    <%= link_to (image_tag "dartmouth.png", class: "school-logo"), "/" %>
  </div>
  <div class="col-md-3">
    <%= link_to (image_tag "brown.png", class: "school-logo"), "/" %>
  </div>
  <div class="col-md-3">
    <%= link_to (image_tag "cornell.png", class: "school-logo"), "/" %>
  </div>
</div>
