<body class="cover">
  <%= render "nav" %>
  <div class="wrapper">
    <div class="container">
      <% if user_signed_in? && current_user.school.unlocked? %>
        <%= render "schools/share" %>
      <% elsif user_signed_in? %>
        <%= render "schools/share" %>
        <%= render "schools" %>
        <%= render "footer" %>
      <% else %>
        <%= render "how_it_works" %>
        <%= render "schools" %>
        <%= render "footer" %>
      <% end %>
    </div>
  </div>
</body>
