<div class="row text-center padded-icon">
  <i class="fa fa-lock large-icon"></i>
</div>
<div class="row text-center unlock-header">
  <div class="col-md-12">
    <h1 class="hook"><%= @school.proper_name %> needs <%= pluralize(School::UNLOCK_THRESHOLD - @school.signups, "more signup") %> to be unlocked!</h1>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-12">
    <%= bootstrap_form_for(resource, layout: :horizontal, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <%= f.text_field :name %>
      <%= f.number_field :class_year %>
      <%= f.email_field :email, :autofocus => true %>
      <%= f.password_field :password %>
      <%= f.password_field :password_confirmation %>
      <%= f.hidden_field :school_id, :value => @school.id %>
      <%= f.submit "Sign Up", class: "go-btn btn #{@school.name} btn-xlg btn-block" %>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
