<div class="footer row">
  <hr/>
  <div class="col-sm-12">
    <div>
      <%= link_to "About", "/about" %>
      <%= link_to "Follow", "https://twitter.com/intent/follow?screen_name=campusanonymous" %>
      <%= link_to "Share", "https://www.facebook.com/sharer/sharer.php?u=https://www.campusanonymous.com" %>
      <%= link_to "Tweet", "https://twitter.com/intent/tweet?hashtags=CampusAnonymous&text=Check out Campus Anonymous%2C a way for Ivy League students to chat anonymously!&url=https%3A%2F%2Fwww.campusanonymous.com" %>
      <%= link_to "Terms", "/terms" %>
      <%= link_to "Privacy", "/privacy" %>
      <%= link_to "Forgot Password?", new_user_password_path %>
    </div>
  </div>
</div>
