<div class="footer row">
  <div class="col-sm-12">
    <hr/>
    <div>
      <%= link_to "About", "/about" %>
      <%= link_to "Twitter", "https://twitter.com/campusanonymous" %>
      <%= link_to "Terms", "/terms" %>
      <%= link_to "Privacy", "/privacy" %>
      <%= link_to "Forgot Password?", new_user_password_path %>
    </div>
  </div>
</div>
