<% if @school.nil? and School.is_allowed?(@url_name) %>
  <%provide(:title, School.proper_name(@url_name))%>
  <h1>Hi there! You have 500 signups to go before <%=School.proper_name(@url_name)%> is unlocked.</h1>
  <h2>Confirm your @<%=@url_name%>.edu email address</h2>
    <%= form_for(:countdown_user, :url => countdown_user_confirmation_path, :html => { :method => :post }) do |f| %>
      <%= f.label :email %>
      <%= f.text_field :email %>
      <%= hidden_field_tag('from_path', "/"+@url_name)%>
    <% end %>
<% elsif @school.nil? %>
  <%provide(:title, "Sorry!")%>
    <h1>Hi there! It looks like we don't support that school yet!</h1>
<% else %>
  <%provide(:title, @school_name)%>
  <h1>Hi there! It looks like you go to <%=@school_name%>.</h1>
  <h2>You have <%=@school_signups_completed%> signups, which means that you have <%=@school_signups_remaining%> signups remaining and your school is <%= @school_unlocked ? "unlocked" : "locked" %>.</h2>
  <h2>Confirm your @<%=@url_name%>.edu email address</h2>
    <%= form_for(:countdown_user, :url => countdown_user_confirmation_path, :html => { :method => :post }) do |f| %>
      <%= f.label :email %>
      <%= f.text_field :email %>
      <%= hidden_field_tag('from_path', "/"+@url_name)%>
      <%= f.submit "Confirm my account", class: "btn btn-large btn-primary" %>
    <% end %>
<% end %>

