<!DOCTYPE html>
<html>
  <head prefix="og: http://ogp.me/ns#">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title><%= content_for?(:title) ? yield(:title) : "Campus Anonymous" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Campus Anonymous connects college students anonymously." %>">
    <meta property="og:title" content="Campus Anonymous">
    <meta property="og:description" content="There are amazing people in the Ivy League you've never met.">
    <meta property="og:url" content="http://www.campusanonymous.com">
    <meta property="og:image" content="<%= image_url('logo.jpg') %>">
    <meta property="og:image:type" content="image/jpg">
    <meta property="og:image:width" content="281">
    <meta property="og:image:height" content="300">
    <%= favicon_link_tag '/favicon.ico' %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", media: "all" %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '<%= Rails.application.secrets.fb_app_id %>',
          xfbml      : true,
          version    : 'v2.0'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <%= render 'shared/navigation' %>
    <%= render 'shared/messages' %>
    <div class="container">
      <%= content_for?(:devise) ? yield(:devise) : yield %>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
